/*
font-family for heading: 'Bebas Neue', cursive;
font-family for paragraph: 'Open Sans', sans-serif;
*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    list-style-type: none;
}

.top-header-bg{
    background-color: #27aae1;
}

.brand-name{
    padding: 7px 0px 5px 0px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}
.social-icon .fa-brands{
    color: #fff;
    padding: 0px 5px 0px 5px;
    font-size: 20px;
}
.social-icon{
    text-align: end;
}
.social-icon .fa-brands:hover{
    color: rgba(250, 250, 250, 0.7);
}

.navbar-bg{
    background-color: #e6edf3;
    color: #27aae1;
}
#navbarSupportedContent ul li a{
    color: #27aae1;
    font-size: 18px;
    font-weight: 600;
}
#navbarSupportedContent ul li ul li a{
    color: #27aae1;
    font-size: 18px;
    font-weight: 600;
}
.navbar-brand{
    width: 60px;
    height: auto;
    padding: 0px;
    margin-right: 30px;
}
.navbar-toggler{
    background-color: #27aae1;
    color: #fff;
}
span.navbar-toggler-icon{
    color: #fff;
}
/* All buttons*/
.common-btn{
    background-color: #27aae1;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid #fff;
}
.common-btn:hover{
    background-color: #fff;
    color: #27aae1;
    border: 2px solid #27aae1;
}
.login-btn{
    background-color: #27aae1;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-left: 20px;
}
.login-btn:hover{
    background-color: #fff;
    color: #27aae1;
    font-size: 18px;
    border: none;
}
.full-btn{
    width: 100%;
    background-color: #27aae1;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid #fff;
}
.full-btn:hover{
    background-color: #fff;
    color: #27aae1;
    border: 2px solid #27aae1;
}


/*Slider*/
#slider{
    background-color: #354895;
    padding: 5% 0%;
}
.slider-inner .slider-heading{
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.5;
}
.slider-inner p{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
}
.model-image img{
    width: 100%;
    height: auto;
    position: relative;
    border: 3px solid #27aae1;
    border-radius: 25px 0px;

}

/*Tutorial section*/
#our-tutorial{
    padding: 40px 0px;
    background-color: #f2f5f9;
}
.card-header{
    color: #27aae1;
    font-weight: 700;
    padding: 30px 0px;
}
.card-title{
    padding: 5px 0px;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    color: #27aae1;
}
.card-text{
    padding: 10px 0px;
}

/*Testimonial*/
#testimonial{
    background-color: #e6edf3;
    padding: 40px 0px;
}


.testimonial{
    text-align: center;
    padding: 85px 50px 45px 70px;
    margin: 70px 15px 35px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 #27aae1;
    position: relative;
}
.testimonial .pic{
    width: 120px;
    height: 120px;
    border: 5px solid #27aae1;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    color: #757575;
    line-height: 27px;
    margin-bottom: 20px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 32px;
    color: #27aae1;
    position: absolute;
    top: -15px;
    left: -35px;
}
.testimonial .testimonial-profile{
    position: relative;
    margin: 20px 0 10px 0;
}
.testimonial .testimonial-profile:after{
    content: "";
    width: 50px;
    height: 2px;
    background: #27aae1;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.testimonial .title{
    display: inline-block;
    font-size: 18px;
    color: #4a5184;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 15px;
    color: #757575;
    text-transform: capitalize;
}
.owl-theme .owl-controls{
    margin-top: 10px;
}
.owl-theme .owl-controls .owl-page span{
    background: #5e5f5f;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #27aae1;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 22px;
    height: 12px;
}


/*footer*/
.footer{
    background-color: #354895;
    padding: 10px 0px;
    color: #fff;
}


/*media query for mobile*/
@media only screen and (max-width: 768px) {
    .brand-name{
       display: none;
    }
    .m-brand-name{
        padding: 5px 0px 4px 0px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Bebas Neue', cursive;
        font-weight: 700;
    }
    .sm-navbar-brand{
        display: flex;
        justify-self: center;
    }
    .top-header-inner .social-icon{
        padding: 0%;
    }
    .top-header-inner .social-icon .fa-brands{
        padding: 0px 3px;
        font-size: 18px;
    }
    .card-header{
        text-align: center;
    }
    .card-title{
        text-align: center;
    }
    .card-text{
        padding: 5px 0px;
    }
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .brand-name{
        display: none;
     }
     .m-brand-name{
         padding: 4px 0px 3px 0px;
         color: #fff;
         text-transform: uppercase;
         font-family: 'Bebas Neue', cursive;
         font-weight: 600;
         text-align: center;
     }
     .top-header-inner .social-icon{
         padding: 0%;
     }
     .top-header-inner .social-icon .fa-brands{
         padding: 0px 3px;
         font-size: 18px;
     }
     .card-header{
         text-align: center;
         font-weight: 500;
        padding: 20px 0px;
     }
     .card-title{
         text-align: center;
     }
     .card-text{
         padding: 3px 0px;
     }
     .slider-inner .slider-heading{
        color: #fff;
        margin-bottom: 30px;
        line-height: 1.4;
        text-align: center;
    }
    .slider-inner p{
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 30px;
        text-align: center;
    }
    .common-btn{
        width: 100%;
        background-color: #27aae1;
        color: #fff;
        font-size: 20px;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        font-weight: 600;
        border: 2px solid #fff;
    }
    .common-btn:hover{
        background-color: #fff;
        color: #27aae1;
        border: 2px solid #27aae1;
    }
  
}

 /* .gradient-custom {
    
    background: #f6d365;

    background: -webkit-linear-gradient(to right, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    background: linear-gradient(to right, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    } */